openapi: 3.2.0
info:
  version: v1
  title: version v1 Infrastructure API
servers:
- url: https://api.ucla.edu/sis
security:
- application: []
tags:
- name: Infrastructure
paths:
  /infrastructure/verifyconnectivity/v1:
    get:
      tags:
      - Infrastructure
      summary: ''
      operationId: VerifyConnectivity_Get
      parameters:
      - name: anyText
        in: query
        description: ''
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
        ' 200':
          description: OK
        ' 400':
          description: Bad Request
        ' 401':
          description: Unauthorized
        ' 403':
          description: Forbidden
        ' 404':
          description: No Record Found
        ' 500':
          description: Server Error
      deprecated: false
components:
  schemas:
    Object:
      type: object
      properties: {}
  securitySchemes:
    application:
      type: oauth2
      flows:
        clientCredentials:
          scopes:
            read: Read access to protected resources
            write: Write access to protected resources
          tokenUrl: https://api.ucla.edu/oauth/client_credential/accesstoken?grant_type=client_credentials
      description: OAuth2
